<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="MacroCompanyId" value="1"/>
    <add key="DependentFor" value="14"/>
    <add key="EmailFrom" value="systemmail@brasilplural.com"/>
    <add key="EmailTo" value="_daniel.nicodemos@brasilplural.com"/>
    <add key="NewEmployeeAlertDepartmentsId" value=""/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="PluralUtilitySoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="true" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="PluralEmailManagementSoap"/>
        <binding name="PluralAuthenticationManagerSoap"/>
        <binding name="FinancialServiceSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://service/PluralUtilityService/PluralUtility.asmx" binding="basicHttpBinding" bindingConfiguration="PluralUtilitySoap" contract="PluralUtilityService.PluralUtilitySoap" name="PluralUtilitySoap"/>
      <endpoint address="http://service/PluralEmailService/PluralEmailService.asmx" binding="basicHttpBinding" bindingConfiguration="PluralEmailManagementSoap" contract="PluralEmailService.PluralEmailManagementSoap" name="PluralEmailManagementSoap"/>
      <endpoint address="http://service/PluralAMService/PluralAuthenticationManager.asmx" binding="basicHttpBinding" bindingConfiguration="PluralAuthenticationManagerSoap" contract="PAMS.PluralAuthenticationManagerSoap" name="PluralAuthenticationManagerSoap"/>
      <endpoint address="http://service/BankIntegrationService/FinancialService.asmx" binding="basicHttpBinding" bindingConfiguration="FinancialServiceSoap" contract="FinancialService.FinancialServiceSoap" name="FinancialServiceSoap"/>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>